<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoldenNotes Bare-Bones</title>
    <!-- <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script> -->
</head>
<body>
    <script type="importmap">
        {
            "imports": {
                "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
            }
        }
    </script>
    <div id="app">
        {{ message }}
        <!-- <form @submit.prevent="login">
            <div class="loginDiv">
                <label for="email">Enter Email:</label>
                <input type="text" name="email" id="email" placeholder="Enter Email" v-model="email">
                <br/>
                <label for="password">Enter Password:</label>
                <input type="password" name="password" id="password" placeholder="Enter Password" v-model="password">
                <button type="submit">Submit</button>
            </div>
        </form> -->
        <login-component notes="notes"></login-component>
        <ul v-if="notes">
            <li v-for="note in notes">{{ note.title }}</li>
        </ul>
    </div>
    <script type="module">
        // const vue = 'https://unpkg.com/vue@3/dist/vue.esm-browser.js';
        import LoginComponent from "./LoginComponent.js";
        import {createApp, ref, reactive} from "vue";

        const host = "http://localhost:3001";

        createApp({
            setup: () => {
                
            }
        }).component("LoginComponent", LoginComponent).mount("#app");
    </script>
</body>
</html>